.card {
    width: 24rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    border-radius: 20px;
    padding: var(--spacing-200);
    margin: var(--spacing-200);
    background: var(--color-white);
    box-shadow: 6px 6px var(--color-gray-950);
}

.card-section-header-img {
    height: 12.5rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-section-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}

.card-section-content-button {
    width: max-content;
    padding: var(--spacing-50) var(--spacing-150);
    background-color: var(--color-yellow);
    color: var(--color-gray-950);
    border-width: 0;
    border-radius: 4px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-tertiary);
}

.card-section-content-date {
    font-size: var(--font-size-tertiary);
    font-weight: var(--font-weight-normal);
    color: var(--color-gray-950);
}

.card-section-content-title {
    font-size: var(--font-size-primary);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-950);
}

.card-section-content-title:hover {
    color: var(--color-yellow);
    cursor: pointer;
}

.card-section-content-description {
    font-size: var(--font-size-secondary);
    font-weight: var(--font-weight-normal);
    color: var(--color-gray-500);
}

.card-section-avatar {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-150);
    align-items: center;
}

.card-section-avatar-img {
    width: 2rem;
    height: 2rem;
}

.card-section-avatar-name {
    font-size: var(--font-size-tertiary);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-950);
}

/* css variables do not work inside media queries */
@media screen and (max-width: 375px) {
    .card-section-content-button,
    .card-section-content-date {
        font-size: var(--font-size-tertiary-sm);
    }

    .card-section-content-title {
        font-size: var(--font-size-primary-sm);
    }

    .card-section-content-description {
        font-size: var(--font-size-secondary-sm);
    }
}