@import "reset.css";

:root {
  /* Breakpoints */
  --breakpoint-mobile: 375px;
  --breakoint-desktop: 1440px;

  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-green: hsl(75, 94%, 57%);
  --color-gray-700: hsl(0, 0%, 20%);
  --color-gray-800: hsl(0, 0%, 12%);
  --color-gray-900: hsl(0, 0%, 8%);

  /* Fonts */
  --font-size-primary: 1.5rem;
  --font-size-secondary: 0.875rem;
  --font-family-base: "Inter", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;

  /* Spacing */
  --spacing-200: 1.5rem;
  --spacing-150: 1.5rem;
  --spacing-100: 1rem;
  --spacing-50: 0.5rem;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 400 700; /* Defines variable range */
  font-display: swap;
}

body {
  font-family: var(--font-family-base);
}
